
*{												/*reseta as tags do html*/
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
	 font-family: "Poetsen One", sans-serif;
	}
	
	.container{
		max-width: 1250px;
		margin:  auto;
		display: flex;
		align-items: center;
		justify-content: center;
		}
		
	header{										/*personalizar o menu*/
		background-color:  #40E0D0;
		width: 100%;
		padding: 7px;
		}
		
	.logo, .social{								/*altera a altura*/
		width:55% ;
	}
	
	.logo img{ 									/*editar a imagem*/
		width: 100px;
		cursor: pointer;
	}
	
	.animais{
		display: flex;
		justify-content: center;
	}
	
	.menu{										/*editar o menu*/
		width: 110%;
	}
	
	.menu nav a{      							/* vai editar o texto do menu*/
		color: black;
		text-decoration: none;
		padding-right:50px;
		font-size: 20px;
		position: relative;
	}
	
	.menu ul li{								/*Vai colocar a lista em ordem*/
	display: inline								
	}
	
	.menu ul li a{   							/*controla o espaço entra as coisas*/
	padding: 2px 25px;
	}
	
	
	.social button{								/*personalizar os butões(simbolos)*/
		
		width: 60px;
		height: 60px;
		background-image: black;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		margin-right: 30px;
		
	}
	
	.social button i{							/*personalizar os butões(simbolos)*/
		font-size: 30px;
		color:fffff;

	
	
	}
	.drop{
		display: none;
		
	}
	
	.drop2{
		display: none;
	}
	
	.drop-hover{    								/*personalizar o submenu*/
		position: relative;
		display: none;
		
	}
	
	drop-hover2{
		position: relative;
		display: none;
	}
	
	.drop-hover:hover .drop{
		
		display: block;
		position: absolute;
		
	}
	
	.texto1{
		font-size: 25;
		font-family: Cambria;
	}
	
	.texto2{
		font-size: 25;
		font-family: Cambria;
	}
	
	.drop{
		background-color: #40E0D0;
		border-radius:5px;
		padding: 12px 13px;
		margin-bottom: 10%;
		
	}
	
	
	
	
	
	
	
	
.slider{
	position: relative ;
	width: 53%;
	overflow: hidden;
	margin-left: 20%;
}
.images{
	display: flex;
	width: 100%;
}

.images img{
	height: 400px;
	width: 100%;
	transition: all 0.15s ease;
}

.images input{
	display: none;
}

.dots{
	display: flex;
	justify-content: center;
	margin: 5px;
}

.dots label{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: solid black;
	cursor: pointer;
	transition: all o.15s ease;
	margin: 5px;
}

.dots label:hover {
	background:  #40E0D0;
	}


#img1:checked ~ .m1{
	width: 800px;
	margin-left: 0%;
}

#img2:checked ~ .m2{
	width: 800px;
	height: 400px;
	margin-left: -100%;
}

#img3:checked ~ .m3{
	width: 800px;
	margin-left: -200%;
}

#img4:checked ~ .m4{
	width: 800px;
	margin-left: -300%;
}




.white-box{
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 6px 6px 22px 2px black;
}

.items{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
}

.item{
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	position: relative;
}


.product{
	text-align: center;
	background-color: white;
	height: 220px;
	width: 100%;
	border-radius: 5px;
}

.product.sale .sell{
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: red;
	color: white;
	padding: 5px;
	font-size: 0.9rem;
	font-weight: bold;
	border-radius: 5px;
	
}

.product.salee .sell{
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: green;
	color: white;
	padding: 5px;
	font-size: 0.9rem;
	font-weight: bold;
	border-radius: 5px;
}

.item img{
	margin-top: 10px;
	height: 90%;
}

.item h3{
	margin: 0;
	color:  #40E0D0;
	font-size: 1.2rem;
	margin: 10px 0px 10px 0px;
}

.item span{
	color: black;
	font-size: 1.5rem;
	margin-bottom: 20px;	
}

.item button{
	background-color:  #40E0D0;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}
